In [219]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [220]:
movies = pd.read_csv("data/movie.csv")

In [221]:
#4916 rows with 28 columns
movies.shape

(4916, 28)

In [222]:
#first 5 rows
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [223]:
#last 5 rows
movies.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [224]:
#first two rows
movies.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [225]:
#data types of all 28 columns of this movies dataset
movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [226]:
#assigning the index,columns,and values individially to a seperate variable
index = movies.index
columns = movies.columns
data = movies.values

In [227]:
#Index of 4916 values(row values)
index

RangeIndex(start=0, stop=4916, step=1)

In [228]:
#displays all the 28 columns in the dataset
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [229]:
#All the values in the dataset
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [230]:
#data  type of index
type(index)

pandas.core.indexes.range.RangeIndex

In [231]:
#data type of columns
type(columns)

pandas.core.indexes.base.Index

In [232]:
#data type of data which says it's an n dimensional array
type(data)

numpy.ndarray

In [233]:
#checking whether RangeIndex is a subclass of the bigger class Index
issubclass(pd.RangeIndex,pd.Index)

True

In [234]:
#Values of index
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [235]:
#values or the name of the columns
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [236]:
#Total counts of all datatypes in the dataset.So,there are 3 different datatypes(float64,Int64,and object) for 28 columns
movies.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

In [237]:
movies.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [238]:
#accessing an individual column
movies['director_name']

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [239]:
#A column can also be accessed/selected in this way
movies.director_name

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [240]:
#accessing more than one column
movies[['director_name','actor_1_facebook_likes']]

           director_name  actor_1_facebook_likes
0          James Cameron                  1000.0
1         Gore Verbinski                 40000.0
2             Sam Mendes                 11000.0
3      Christopher Nolan                 27000.0
4            Doug Walker                   131.0
5         Andrew Stanton                   640.0
6              Sam Raimi                 24000.0
7           Nathan Greno                   799.0
8            Joss Whedon                 26000.0
9            David Yates                 25000.0
10           Zack Snyder                 15000.0
11          Bryan Singer                 18000.0
12          Marc Forster                   451.0
13        Gore Verbinski                 40000.0
14        Gore Verbinski                 40000.0
15           Zack Snyder                 15000.0
16        Andrew Adamson                 22000.0
17           Joss Whedon                 26000.0
18          Rob Marshall                 40000.0
19      Barry Sonnenfeld                 10000.0
20         Peter Jackson                  5000.0
21             Marc Webb                 15000.0
22          Ridley Scott                   891.0
23         Peter Jackson                  5000.0
24           Chris Weitz                 16000.0
25         Peter Jackson                  6000.0
26         James Cameron                 29000.0
27         Anthony Russo                 21000.0
28            Peter Berg                 14000.0
29       Colin Trevorrow                  3000.0
...                  ...                     ...
4886          Eric Eason                    93.0
4887            Uwe Boll                   986.0
4888   Richard Linklater                     5.0
4889     Joseph Mazzella                   313.0
4890        Travis Legge                   370.0
4891       Alex Kendrick                    51.0
4892       Marcus Nispel                   630.0
4893     Brandon Landers                   720.0
4894         Jay Duplass                   830.0
4895          Jim Chuchu                   147.0
4896          Daryl Wein                   331.0
4897         Jason Trost                   407.0
4898         John Waters                   462.0
4899     Olivier Assayas                   576.0
4900        Jafar Panahi                     5.0
4901       Ivan Kavanagh                    10.0
4902    Kiyoshi Kurosawa                    89.0
4903        Tadeo Garcia                    21.0
4904  Thomas L. Phillips                   785.0
4905     Ash Baron-Cohen                   789.0
4906       Shane Carruth                   291.0
4907    Neill Dela Llana                     0.0
4908    Robert Rodriguez                   121.0
4909     Anthony Vallone                    45.0
4910        Edward Burns                   296.0
4911         Scott Smith                   637.0
4912                 NaN                   841.0
4913    Benjamin Roberds                     0.0
4914         Daniel Hsia                   946.0
4915            Jon Gunn                    86.0

[4916 rows x 2 columns]

In [241]:
#finding the datatype of a column
type(movies['director_name'])

pandas.core.series.Series

In [242]:
#assigining the column as a seperate variable
director = movies['director_name']

In [243]:
#to print out the name of the column which was assigned  
director.name

'director_name'

In [244]:
#values of the director column
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [245]:
#converting it into a dataframe using the method 'to_frame()'.Notice the difference in terms of display previous step and this step.
director.to_frame().head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [246]:
#Total Number of unique values of each value in the column 'director'
director.value_counts()

Steven Spielberg        26
Woody Allen             22
Clint Eastwood          20
Martin Scorsese         20
Ridley Scott            16
Spike Lee               16
Steven Soderbergh       15
Renny Harlin            15
Oliver Stone            14
Tim Burton              14
Barry Levinson          13
Joel Schumacher         13
Robert Zemeckis         13
Ron Howard              13
Robert Rodriguez        13
Brian De Palma          12
Tony Scott              12
Michael Bay             12
Kevin Smith             12
Francis Ford Coppola    11
Sam Raimi               11
Rob Reiner              11
Shawn Levy              11
Richard Linklater       11
Richard Donner          11
Chris Columbus          11
David Fincher           10
John McTiernan          10
Wes Craven              10
Paul W.S. Anderson      10
                        ..
Justin Tipping           1
Mervyn LeRoy             1
Gary McKendry            1
Thomas Lilti             1
Dan Perri                1
Jon Shear                1
Clark Baker              1
Mathieu Amalric          1
David Hayter             1
Paul Donovan             1
Rodman Flender           1
Takao Okawara            1
Hironobu Sakaguchi       1
Robert Rossen            1
Beto GÃ³mez               1
Lucio Fulci              1
Stevan Mena              1
Raymond De Felitta       1
Maksim Fadeev            1
Kinka Usher              1
Harley Cokeliss          1
Anthony Mann             1
Taedong Park             1
Karim AÃ¯nouz             1
Brian Henson             1
Wajahat Rauf             1
Mike Mayhall             1
Shane Carruth            1
Joel Edgerton            1
Karey Kirkpatrick        1
Name: director_name, Length: 2397, dtype: int64

In [247]:
#To get the cummulative frequency of values in a column we simply use th parameter normalized = True
director.value_counts(normalize = True)

Steven Spielberg        0.005401
Woody Allen             0.004570
Clint Eastwood          0.004155
Martin Scorsese         0.004155
Ridley Scott            0.003324
Spike Lee               0.003324
Steven Soderbergh       0.003116
Renny Harlin            0.003116
Oliver Stone            0.002908
Tim Burton              0.002908
Barry Levinson          0.002700
Joel Schumacher         0.002700
Robert Zemeckis         0.002700
Ron Howard              0.002700
Robert Rodriguez        0.002700
Brian De Palma          0.002493
Tony Scott              0.002493
Michael Bay             0.002493
Kevin Smith             0.002493
Francis Ford Coppola    0.002285
Sam Raimi               0.002285
Rob Reiner              0.002285
Shawn Levy              0.002285
Richard Linklater       0.002285
Richard Donner          0.002285
Chris Columbus          0.002285
David Fincher           0.002077
John McTiernan          0.002077
Wes Craven              0.002077
Paul W.S. Anderson      0.002077
                          ...
Justin Tipping          0.000208
Mervyn LeRoy            0.000208
Gary McKendry           0.000208
Thomas Lilti            0.000208
Dan Perri               0.000208
Jon Shear               0.000208
Clark Baker             0.000208
Mathieu Amalric         0.000208
David Hayter            0.000208
Paul Donovan            0.000208
Rodman Flender          0.000208
Takao Okawara           0.000208
Hironobu Sakaguchi      0.000208
Robert Rossen           0.000208
Beto GÃ³mez              0.000208
Lucio Fulci             0.000208
Stevan Mena             0.000208
Raymond De Felitta      0.000208
Maksim Fadeev           0.000208
Kinka Usher             0.000208
Harley Cokeliss         0.000208
Anthony Mann            0.000208
Taedong Park            0.000208
Karim AÃ¯nouz            0.000208
Brian Henson            0.000208
Wajahat Rauf            0.000208
Mike Mayhall            0.000208
Shane Carruth           0.000208
Joel Edgerton           0.000208
Karey Kirkpatrick       0.000208
Name: director_name, Length: 2397, dtype: float64

In [248]:
#Finding out non-missing values
director.count()

4814

In [249]:
#How to find out the number of missing values.
len(director) - director.count()

102

In [250]:
#As we all know Series is an 1D datstructure
  # and DataFrame is a 2D datastructure!

In [251]:
#To find the number of attributes&methods in a series.
len(dir(pd.Series))
#Make sure in Series 'S' is in capitals

464

In [252]:
#To find number of attributes&methods in a DataFrame.Make Sure in DataFrame 'D' and 'F' are in capitals
len(dir(pd.DataFrame))

460

In [253]:
#Now let's see the common attributes & methods in a Series and DataFrame
a = len(dir(pd.Series))
b = len(dir(pd.DataFrame))
a & b

448

In [254]:
#So there are 448 methods in common between Series and DataFrame

In [255]:
#Assigning another column 'actor_1_facebook_likes' from the dataset movies individually to a variable named 'actor_1_fb_likes'
actor_1_fb_likes = movies['actor_1_facebook_likes']
actor_1_fb_likes.head(3)

0     1000.0
1    40000.0
2    11000.0
Name: actor_1_facebook_likes, dtype: float64

In [256]:
#value_Counts() counts the unique occurences of each value
#I chained another method called head() to get the first 5 values
actor_1_fb_likes.value_counts().head()
#This is called method chaning

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
Name: actor_1_facebook_likes, dtype: int64

In [257]:
#To get a cummulative frequencies we can use the parameter normalize = true inside value_counts()
actor_1_fb_likes.value_counts(normalize = True).head(10).to_frame()

         actor_1_facebook_likes
1000.0                 0.088816
11000.0                0.041964
2000.0                 0.038501
3000.0                 0.030556
12000.0                0.026686
13000.0                0.025056
14000.0                0.024445
10000.0                0.022204
18000.0                0.021593
22000.0                0.016297

In [258]:
#count function() yields non-missing values
actor_1_fb_likes.count()

4909

In [259]:
#isnull method displays whether each individual value is missing or not as a Boolean.Chained with tail() to find about only the last 5 values
actor_1_fb_likes.isnull().tail()

4911    False
4912    False
4913    False
4914    False
4915    False
Name: actor_1_facebook_likes, dtype: bool

In [260]:
#The functions isna displays all the values which are null and not null as a boolean just like the method 'isnull()'
actor_1_fb_likes.isna().tail()

4911    False
4912    False
4913    False
4914    False
4915    False
Name: actor_1_facebook_likes, dtype: bool

In [261]:
#Total null values in the column actor_1_fb_likes
actor_1_fb_likes.isnull().sum()

7

In [262]:
#finding the total percentage of null values in the column actor_1_fb_likes
actor_1_fb_likes.isna().mean()

0.0014239218877135883

In [263]:
#One direct shot of knowing whether a specific column in a datset has null values or not using the attribute hasnans
actor_1_fb_likes.hasnans

True

In [264]:
#filling null values with 0 using fillna() method
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)

In [265]:
#Now let's see whether there are any null values left after the previous step
actor_1_fb_likes_filled.isna().sum()

0

In [266]:
#we can also drop the null values in a column using the method dropna()
actor_1_fb_likes.dropped = actor_1_fb_likes.dropna()

In [267]:
#Now,lets count the null values if any after the previous step
actor_1_fb_likes.dropped.isna().sum()

0

In [268]:
#summary stats like max ,min,mean ,median and standard deviation
actor_1_fb_likes.min() ,actor_1_fb_likes.max() ,actor_1_fb_likes.mean(),actor_1_fb_likes.std(),actor_1_fb_likes.median()

(0.0, 640000.0, 6494.488490527602, 15106.986883848309, 982.0)

In [269]:
#The above step can be simplified by using the method describe() which also produces quantiles
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [270]:
#using the describe() function again.Since,the dtype of director variable is an object it produces the count freq etc., 
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [271]:
#Now let's try to calucluate quantile data for this we use sat_scores dataset
sat_scores = pd.read_csv("sat_scores.csv")

In [272]:
sat_scores.head()

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,01M292,Henry Street School for International Studies,31,391,425,385
1,01M448,University Neighborhood High School,60,394,419,387
2,01M450,East Side Community High School,69,418,431,402
3,01M458,SATELLITE ACADEMY FORSYTH ST,26,385,370,378
4,01M509,CMSP HIGH SCHOOL,s,s,s,s

In [273]:
#converting the columns 'Mathematic Mean' from object type to float64
sat_scores["Mathematics Mean"] = pd.to_numeric(sat_scores["Mathematics Mean"], errors='coerce')

In [274]:
sat_scores["Mathematics Mean"].dtype

dtype('float64')

In [275]:
#assigning the column 'Mathematics Mean' to a variable called Math_scores
Math_scores = sat_scores['Mathematics Mean']

In [276]:
Math_scores.dtype

dtype('float64')

In [277]:
#Returns value at 20th quantile/ percentile using the method quantile()
Math_scores.quantile(.2)

369.0

In [278]:
#Returns the value at the 99th quantile/ percentile
Math_scores.quantile(0.99)

650.3

In [279]:
#Returns the value at the top quantile/percentile
Math_scores.quantile(1)

735.0

In [280]:
#Checking whether the top quantile value is the same as the Max value of Math_scores
Math_scores.quantile(1) == Math_scores.max()

True

<h2> Arithematic operations on Pandas datasets

In [281]:
#accessing imdb score
imdb_score = movies['imdb_score']

In [282]:
imdb_score.head()

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [283]:
#adding 1
imdb_score+1

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
5       7.6
6       7.2
7       8.8
8       8.5
9       8.5
10      7.9
11      7.1
12      7.7
13      8.3
14      7.5
15      8.2
16      7.6
17      9.1
18      7.7
19      7.8
20      8.5
21      8.0
22      7.7
23      8.9
24      7.1
25      8.2
26      8.7
27      9.2
28      6.9
29      8.0
       ...
4886    8.0
4887    7.3
4888    8.1
4889    5.8
4890    4.3
4891    7.9
4892    5.6
4893    4.0
4894    7.6
4895    8.4
4896    7.2
4897    5.0
4898    7.1
4899    7.9
4900    8.5
4901    7.7
4902    8.4
4903    7.1
4904    6.4
4905    7.4
4906    8.0
4907    7.3
4908    7.9
4909    8.8
4910    7.4
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [284]:
#multiply by 5
imdb_score * 5

0       39.5
1       35.5
2       34.0
3       42.5
4       35.5
5       33.0
6       31.0
7       39.0
8       37.5
9       37.5
10      34.5
11      30.5
12      33.5
13      36.5
14      32.5
15      36.0
16      33.0
17      40.5
18      33.5
19      34.0
20      37.5
21      35.0
22      33.5
23      39.5
24      30.5
25      36.0
26      38.5
27      41.0
28      29.5
29      35.0
        ...
4886    35.0
4887    31.5
4888    35.5
4889    24.0
4890    16.5
4891    34.5
4892    23.0
4893    15.0
4894    33.0
4895    37.0
4896    31.0
4897    20.0
4898    30.5
4899    34.5
4900    37.5
4901    33.5
4902    37.0
4903    30.5
4904    27.0
4905    32.0
4906    35.0
4907    31.5
4908    34.5
4909    39.0
4910    32.0
4911    38.5
4912    37.5
4913    31.5
4914    31.5
4915    33.0
Name: imdb_score, Length: 4916, dtype: float64

In [285]:
#square each value by 2
imdb_score ** 2

0       62.41
1       50.41
2       46.24
3       72.25
4       50.41
5       43.56
6       38.44
7       60.84
8       56.25
9       56.25
10      47.61
11      37.21
12      44.89
13      53.29
14      42.25
15      51.84
16      43.56
17      65.61
18      44.89
19      46.24
20      56.25
21      49.00
22      44.89
23      62.41
24      37.21
25      51.84
26      59.29
27      67.24
28      34.81
29      49.00
        ...
4886    49.00
4887    39.69
4888    50.41
4889    23.04
4890    10.89
4891    47.61
4892    21.16
4893     9.00
4894    43.56
4895    54.76
4896    38.44
4897    16.00
4898    37.21
4899    47.61
4900    56.25
4901    44.89
4902    54.76
4903    37.21
4904    29.16
4905    40.96
4906    49.00
4907    39.69
4908    47.61
4909    60.84
4910    40.96
4911    59.29
4912    56.25
4913    39.69
4914    39.69
4915    43.56
Name: imdb_score, Length: 4916, dtype: float64

In [286]:
#do a floor division by 7.A floor division returns only the quoietient 
imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
5       0.0
6       0.0
7       1.0
8       1.0
9       1.0
10      0.0
11      0.0
12      0.0
13      1.0
14      0.0
15      1.0
16      0.0
17      1.0
18      0.0
19      0.0
20      1.0
21      1.0
22      0.0
23      1.0
24      0.0
25      1.0
26      1.0
27      1.0
28      0.0
29      1.0
       ...
4886    1.0
4887    0.0
4888    1.0
4889    0.0
4890    0.0
4891    0.0
4892    0.0
4893    0.0
4894    0.0
4895    1.0
4896    0.0
4897    0.0
4898    0.0
4899    0.0
4900    1.0
4901    0.0
4902    1.0
4903    0.0
4904    0.0
4905    0.0
4906    1.0
4907    0.0
4908    0.0
4909    1.0
4910    0.0
4911    1.0
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [287]:
#Now let's do a simple Boolean operations of finding which values are > 7
a = imdb_score > 7
a.to_frame().head()

   imdb_score
0        True
1        True
2       False
3        True
4        True

In [288]:
#the below method yeilds the same result as of the above!
imdb_score.gt(7).head()

0     True
1     True
2    False
3     True
4     True
Name: imdb_score, dtype: bool

In [289]:
#Now,let's examine the 'movie_title' column 
movies['movie_title'].head()

0                                        Avatar
1      Pirates of the Caribbean: At World's End
2                                       Spectre
3                         The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens
Name: movie_title, dtype: object

In [290]:
#and we shall examine the index of the movies dataset
movies.head()
#As you can see the index starts from 0.But,I wanna set the column 'movie_title' as index as we explored in the previous step

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [291]:
#So,inorder to do that we use the method set_index() which takes the column name as the argument.
#Notice,that I branched out movies dataset to another variable called movies2 so as to keep the original dataset intact.
movies2 = movies.set_index('movie_title')
movies2.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [292]:
#I can also set the movie_title as index when I read the dataset
movies3 = pd.read_csv('data/movie.csv',index_col = 'movie_title')
movies3.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [293]:
#Now I can reset the whole thing back to the construct of  the original dataset using reset_index()
movies2.reset_index().head(2)

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [294]:
movies3.reset_index().head(2)

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [295]:
#examining Movies dataset again
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [ ]:
#Now I wanna do rename index and column values and how can I do that?
#Step 1.Replace the index columns of movie dataset with the column movie_title
#Step 2. Renaming some of the index values and renaming some of the column values
#Step 3.Pass the renamed index and column values as arguments to the method rename()

In [319]:
#Step 1
movies = pd.read_csv("data/movie.csv",index_col = "movie_title")

In [ ]:
#Step 2
idx_rename = {"Avatar":"Ratava","Spectre":"Ertceps"}
col_rename = {"director_name":"Director Name","num_critic_for_reviews":"Critical reviews","director_facebook_likes":"Fb likes for the director"}

In [322]:
movies3_renamed = movies.rename(index = idx_rename,columns = col_rename)
movies3_renamed.head()

,color,Director Name,Critical reviews,duration,Fb likes for the director,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [345]:
movies = pd.read_csv("data/movie.csv" ,index_col ='movie_title')
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [350]:
#I can also rename index and column values by converting them to lists using tolist() method
index = movies.index
columns = movies.columns

In [351]:
#convert the index and columns to list
index_list = index.tolist()
columns_list = columns.tolist()

In [352]:
#manipulating the index values
index_list[0] = 'Ratava'
index_list[2] = 'Ertceps'

In [357]:
columns_list[1] ="Director Name"
columns_list[2] ="Critical Reviews"

In [363]:
#You can see the change of index values
index_list

['Ratava',
 "Pirates of the Caribbean: At World's End",
 'Ertceps',
 'The Dark Knight Rises',
 'Star Wars: Episode VII - The Force Awakens',
 'John Carter',
 'Spider-Man 3',
 'Tangled',
 'Avengers: Age of Ultron',
 'Harry Potter and the Half-Blood Prince',
 'Batman v Superman: Dawn of Justice',
 'Superman Returns',
 'Quantum of Solace',
 "Pirates of the Caribbean: Dead Man's Chest",
 'The Lone Ranger',
 'Man of Steel',
 'The Chronicles of Narnia: Prince Caspian',
 'The Avengers',
 'Pirates of the Caribbean: On Stranger Tides',
 'Men in Black 3',
 'The Hobbit: The Battle of the Five Armies',
 'The Amazing Spider-Man',
 'Robin Hood',
 'The Hobbit: The Desolation of Smaug',
 'The Golden Compass',
 'King Kong',
 'Titanic',
 'Captain America: Civil War',
 'Battleship',
 'Jurassic World',
 'Skyfall',
 'Spider-Man 2',
 'Iron Man 3',
 'Alice in Wonderland',
 'X-Men: The Last Stand',
 'Monsters University',
 'Transformers: Revenge of the Fallen',
 'Transformers: Age of Extinction',
 'Oz the Great and Powerful',
 'The Amazing Spider-Man 2',
 'TRON: Legacy',
 'Cars 2',
 'Green Lantern',
 'Toy Story 3',
 'Terminator Salvation',
 'Furious 7',
 'World War Z',
 'X-Men: Days of Future Past',
 'Star Trek Into Darkness',
 'Jack the Giant Slayer',
 'The Great Gatsby',
 'Prince of Persia: The Sands of Time',
 'Pacific Rim',
 'Transformers: Dark of the Moon',
 'Indiana Jones and the Kingdom of the Crystal Skull',
 'The Good Dinosaur',
 'Brave',
 'Star Trek Beyond',
 'WALLÂ·E',
 'Rush Hour 3',
 '2012',
 'A Christmas Carol',
 'Jupiter Ascending',
 'The Legend of Tarzan',
 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
 'X-Men: Apocalypse',
 'The Dark Knight',
 'Up',
 'Monsters vs. Aliens',
 'Iron Man',
 'Hugo',
 'Wild Wild West',
 'The Mummy: Tomb of the Dragon Emperor',
 'Suicide Squad',
 'Evan Almighty',
 'Edge of Tomorrow',
 'Waterworld',
 'G.I. Joe: The Rise of Cobra',
 'Inside Out',
 'The Jungle Book',
 'Iron Man 2',
 'Snow White and the Huntsman',
 'Maleficent',
 'Dawn of the Planet of the Apes',
 'The Lovers',
 '47 Ronin',
 'Captain America: The Winter Soldier',
 'Shrek Forever After',
 'Tomorrowland',
 'Big Hero 6',
 'Wreck-It Ralph',
 'The Polar Express',
 'Independence Day: Resurgence',
 'How to Train Your Dragon',
 'Terminator 3: Rise of the Machines',
 'Guardians of the Galaxy',
 'Interstellar',
 'Inception',
 'Godzilla Resurgence',
 'The Hobbit: An Unexpected Journey',
 'The Fast and the Furious',
 'The Curious Case of Benjamin Button',
 'X-Men: First Class',
 'The Hunger Games: Mockingjay - Part 2',
 "The Sorcerer's Apprentice",
 'Poseidon',
 'Alice Through the Looking Glass',
 'Shrek the Third',
 'Warcraft',
 'Terminator Genisys',
 'The Chronicles of Narnia: The Voyage of the Dawn Treader',
 'Pearl Harbor',
 'Transformers',
 'Alexander',
 'Harry Potter and the Order of the Phoenix',
 'Harry Potter and the Goblet of Fire',
 'Hancock',
 'I Am Legend',
 'Charlie and the Chocolate Factory',
 'Ratatouille',
 'Batman Begins',
 'Madagascar: Escape 2 Africa',
 'Night at the Museum: Battle of the Smithsonian',
 'X-Men Origins: Wolverine',
 'The Matrix Revolutions',
 'Frozen',
 'The Matrix Reloaded',
 'Thor: The Dark World',
 'Mad Max: Fury Road',
 'Angels & Demons',
 'Thor',
 'Bolt',
 'G-Force',
 'Wrath of the Titans',
 'Dark Shadows',
 'Mission: Impossible - Rogue Nation',
 'The Wolfman',
 'Bee Movie',
 'Kung Fu Panda 2',
 'The Last Airbender',
 'Mission: Impossible III',
 'White House Down',
 'Mars Needs Moms',
 'Flushed Away',
 'Pan',
 'Mr. Peabody & Sherman',
 'Troy',
 "Madagascar 3: Europe's Most Wanted",
 'Die Another Day',
 'Ghostbusters',
 'Armageddon',
 'Men in Black II',
 'Beowulf',
 'Kung Fu Panda 3',
 'Mission: Impossible - Ghost Protocol',
 'Rise of the Guardians',
 'Fun with Dick and Jane',
 'The Last Samurai',
 'Exodus: Gods and Kings',
 'Star Trek',
 'Spider-Man',
 'How to Train Your Dragon 2',
 'Gods of Egypt',
 'Stealth',
 'Watchmen',
 'Lethal Weapon 4',
 'Hulk',
 'G.I. Joe: Retaliation',
 'Sahara',
 'Final Fantasy: The Spirits Within',
 'Captain America: The First Avenger',
 'The World Is Not Enough',
 'Master and Commander: The Far Side of the World',
 'The Twilight Saga: Breaking Dawn - Part 2',
 'Happy Feet 2',
 'The Incredible Hulk',
 'Miami Vice',
 'The BFG',
 'The Revenant',
 'Turbo',
 'Rango',
 'Penguins of Madagascar',
 'The Bourne Ultimatum',
 'Kung Fu Panda',
 'Ant-Man',
 'The Hunger Games: Catching Fire',
 'Home',
 'War of the Worlds',
 'Bad Boys II',
 'Puss in Boots',
 'Salt',
 'Noah',
 'The Adventures of Tintin',
 'Harry Potter and the Prisoner of Azkaban',
 'Australia',
 'After Earth',
 'Dinosaur',
 'Harry Potter and the Deathly Hallows: Part II',
 'Night at the Museum: Secret of the Tomb',
 'Megamind',
 "Harry Potter and the Sorcerer's Stone",
 'R.I.P.D.',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Harry Potter and the Deathly Hallows: Part I',
 'The Hunger Games: Mockingjay - Part 1',
 'The Da Vinci Code',
 'Rio 2',
 'X-Men 2',
 'Fast Five',
 'Sherlock Holmes: A Game of Shadows',
 'Clash of the Titans',
 'Total Recall',
 'The 13th Warrior',
 'The Bourne Legacy',
 'Batman & Robin',
 'How the Grinch Stole Christmas',
 'The Day After Tomorrow',
 'Mission: Impossible II',
 'The Perfect Storm',
 'Fantastic 4: Rise of the Silver Surfer',
 'Life of Pi',
 'Ghost Rider',
 'Jason Bourne',
 "Charlie's Angels: Full Throttle",
 'Prometheus',
 'Stuart Little 2',
 'Elysium',
 'The Chronicles of Riddick',
 'RoboCop',
 'Speed Racer',
 'How Do You Know',
 'Knight and Day',
 'Oblivion',
 'Star Wars: Episode III - Revenge of the Sith',
 'Star Wars: Episode II - Attack of the Clones',
 'Monsters, Inc.',
 'The Wolverine',
 'Star Wars: Episode I - The Phantom Menace',
 'The Croods',
 'Asterix at the Olympic Games',
 'Windtalkers',
 "The Huntsman: Winter's War",
 'Teenage Mutant Ninja Turtles',
 'Gravity',
 "Dante's Peak",
 'Teenage Mutant Ninja Turtles: Out of the Shadows',
 'Fantastic Four',
 'Night at the Museum',
 'San Andreas',
 'Tomorrow Never Dies',
 'The Patriot',
 "Ocean's Twelve",
 'Mr. & Mrs. Smith',
 'Insurgent',
 'The Aviator',
 "Gulliver's Travels",
 'The Green Hornet',
 'The A-Team',
 '300: Rise of an Empire',
 'The Smurfs',
 'Home on the Range',
 'Allegiant',
 'Real Steel',
 'The Smurfs 2',
 'Speed 2: Cruise Control',
 "Ender's Game",
 'Live Free or Die Hard',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Around the World in 80 Days',
 'Ali',
 'The Cat in the Hat',
 'I, Robot',
 'Kingdom of Heaven',
 'Stuart Little',
 'The Princess and the Frog',
 'The Martian',
 '10,000 B.C.',
 'The Island',
 'Town & Country',
 'Gone in Sixty Seconds',
 'Gladiator',
 'Minority Report',
 'Harry Potter and the Chamber of Secrets',
 'Casino Royale',
 'Planet of the Apes',
 'Terminator 2: Judgment Day',
 'Public Enemies',
 'American Gangster',
 'True Lies',
 'The Taking of Pelham 1 2 3',
 'Little Fockers',
 'The Other Guys',
 'Eraser',
 'Django Unchained',
 'The Hunchback of Notre Dame',
 "The Emperor's New Groove",
 'The Expendables 2',
 'National Treasure',
 'Eragon',
 'Where the Wild Things Are',
 'Epic',
 'The Tourist',
 'End of Days',
 'Blood Diamond',
 'The Wolf of Wall Street',
 'Batman Forever',
 'Starship Troopers',
 'Cloud Atlas',
 "Legend of the Guardians: The Owls of Ga'Hoole",
 'Catwoman',
 'Hercules',
 'Treasure Planet',
 'Land of the Lost',
 'The Expendables 3',
 'Point Break',
 'Son of the Mask',
 'In the Heart of the Sea',
 'The Adventures of Pluto Nash',
 'Green Zone',
 'The Peanuts Movie',
 'The Spanish Prisoner',
 'The Mummy Returns',
 'Gangs of New York',
 'The Flowers of War',
 "Surf's Up",
 'The Stepford Wives',
 'Black Hawk Down',
 'The Campaign',
 'The Fifth Element',
 'Sex and the City 2',
 'The Road to El Dorado',
 'Ice Age: Continental Drift',
 'Cinderella',
 'The Lovely Bones',
 'Finding Nemo',
 'The Lord of the Rings: The Return of the King',
 'The Lord of the Rings: The Two Towers',
 'Seventh Son',
 'Lara Croft: Tomb Raider',
 'Transcendence',
 'Jurassic Park III',
 'Rise of the Planet of the Apes',
 'The Spiderwick Chronicles',
 'A Good Day to Die Hard',
 'The Alamo',
 'The Incredibles',
 'Cutthroat Island',
 'Percy Jackson & the Olympians: The Lightning Thief',
 'Men in Black',
 'Toy Story 2',
 'Unstoppable',
 'Rush Hour 2',
 'What Lies Beneath',
 'Cloudy with a Chance of Meatballs',
 'Ice Age: Dawn of the Dinosaurs',
 'The Secret Life of Walter Mitty',
 "Charlie's Angels",
 'The Departed',
 'Mulan',
 'Tropic Thunder',
 'The Girl with the Dragon Tattoo',
 'Die Hard with a Vengeance',
 'Sherlock Holmes',
 'Ben-Hur',
 'Atlantis: The Lost Empire',
 'Alvin and the Chipmunks: The Road Chip',
 'Valkyrie',
 "You Don't Mess with the Zohan",
 'Pixels',
 'A.I. Artificial Intelligence',
 'The Haunted Mansion',
 'Contact',
 'Hollow Man',
 'The Interpreter',
 'Percy Jackson: Sea of Monsters',
 'Lara Croft Tomb Raider: The Cradle of Life',
 'Now You See Me 2',
 'The Saint',
 'Spy Game',
 'Mission to Mars',
 'Rio',
 'Bicentennial Man',
 'Volcano',
 "The Devil's Own",
 'K-19: The Widowmaker',
 'Conan the Barbarian',
 'Cinderella Man',
 'The Nutcracker in 3D',
 'Seabiscuit',
 'Twister',
 'Cast Away',
 'Happy Feet',
 'The Bourne Supremacy',
 'Air Force One',
 "Ocean's Eleven",
 'The Three Musketeers',
 'Hotel Transylvania',
 'Enchanted',
 'Hannibal',
 'Safe House',
 '102 Dalmatians',
 'Tower Heist',
 'The Holiday',
 'Enemy of the State',
 "It's Complicated",
 "Ocean's Thirteen",
 'Open Season',
 'Divergent',
 'Enemy at the Gates',
 'The Rundown',
 'Last Action Hero',
 'Memoirs of a Geisha',
 'The Fast and the Furious: Tokyo Drift',
 'Arthur Christmas',
 'Meet Joe Black',
 'Collateral Damage',
 'All That Jazz',
 'Mirror Mirror',
 'Scott Pilgrim vs. the World',
 'The Core',
 'Nutty Professor II: The Klumps',
 'Scooby-Doo',
 'Dredd',
 'Click',
 'Creepshow',
 'Cats & Dogs: The Revenge of Kitty Galore',
 'Jumper',
 'Hellboy II: The Golden Army',
 'Zodiac',
 'The 6th Day',
 'Bruce Almighty',
 'The Expendables',
 'Mission: Impossible',
 'The Hunger Games',
 'The Hangover Part II',
 'Batman Returns',
 'Over the Hedge',
 'Lilo & Stitch',
 "Charlotte's Web",
 'Deep Impact',
 'RED 2',
 'The Longest Yard',
 'Alvin and the Chipmunks: Chipwrecked',
 'Grown Ups 2',
 'Get Smart',
 "Something's Gotta Give",
 'Shutter Island',
 'Four Christmases',
 'Robots',
 'Face/Off',
 'Bedtime Stories',
 'Road to Perdition',
 'Just Go with It',
 'Daredevil',
 'Con Air',
 'Eagle Eye',
 'Cold Mountain',
 'The Book of Eli',
 'Flubber',
 'The Haunting',
 'Space Jam',
 'The Pink Panther',
 'The Day the Earth Stood Still',
 'Conspiracy Theory',
 'Fury',
 'Six Days Seven Nights',
 'Yogi Bear',
 'Spirit: Stallion of the Cimarron',
 'Zookeeper',
 'Lost in Space',
 'The Manchurian Candidate',
 'DÃ©jÃ  Vu',
 'Hotel Transylvania 2',
 'Bewitched',
 'Fantasia 2000',
 'The Time Machine',
 'Mighty Joe Young',
 'Swordfish',
 'The Legend of Zorro',
 'What Dreams May Come',
 'Little Nicky',
 'The Brothers Grimm',
 'Mars Attacks!',
 'Evolution',
 'The Edge',
 'Surrogates',
 'Thirteen Days',
 'Daylight',
 'Walking with Dinosaurs 3D',
 'Battlefield Earth',
 'Looney Tunes: Back in Action',
 'Nine',
 'Timeline',
 'The Postman',
 'Babe: Pig in the City',
 'The Last Witch Hunter',
 'Red Planet',
 'Arthur and the Invisibles',
 'Oceans',
 'A Sound of Thunder',
 'Pompeii',
 'Top Cat Begins',
 'A Beautiful Mind',
 'The Lion King',
 'Journey 2: The Mysterious Island',
 'Cloudy with a Chance of Meatballs 2',
 'Red Dragon',
 'Hidalgo',
 'Jack and Jill',
 '2 Fast 2 Furious',
 'The Little Prince',
 'The Invasion',
 'The Adventures of Rocky & Bullwinkle',
 'The Secret Life of Pets',
 'The League of Extraordinary Gentlemen',
 'Despicable Me 2',
 'Independence Day',
 'The Lost World: Jurassic Park',
 'Madagascar',
 'Children of Men',
 'X-Men',
 'Wanted',
 'The Rock',
 'Ice Age: The Meltdown',
 '50 First Dates',
 'Hairspray',
 'Exorcist: The Beginning',
 'Inspector Gadget',
 'Now You See Me',
 'Grown Ups',
 'The Terminal',
 'Constantine',
 'Hotel for Dogs',
 'Vertical Limit',
 "Charlie Wilson's War",
 'Shark Tale',
 'Dreamgirls',
 'Life',
 'Be Cool',
 'Munich',
 'Tears of the Sun',
 'Killers',
 'The Man from U.N.C.L.E.',
 'Spanglish',
 'Monster House',
 'Bandits',
 'First Knight',
 'Anna and the King',
 'Immortals',
 'Hostage',
 'Titan A.E.',
 'Hollywood Homicide',
 'Soldier',
 'Carriers',
 'Monkeybone',
 'Flight of the Phoenix',
 'Unbreakable',
 'Minions',
 'Sucker Punch',
 'Snake Eyes',
 'Sphere',
 'The Angry Birds Movie',
 "Fool's Gold",
 'Funny People',
 'The Kingdom',
 'Talladega Nights: The Ballad of Ricky Bobby',
 'Dr. Dolittle 2',
 'Braveheart',
 'Jarhead',
 'The Simpsons Movie',
 'The Majestic',
 'Driven',
 'Two Brothers',
 'The Village',
 'Doctor Dolittle',
 'Signs',
 'Shrek 2',
 'Cars',
 'Runaway Bride',
 'xXx',
 'The SpongeBob Movie: Sponge Out of Water',
 'Ransom',
 'Inglourious Basterds',
 'Hook',
 'Die Hard 2',
 'S.W.A.T.',
 'Sleepy Hollow',
 'Vanilla Sky',
 'Lady in the Water',
 'AVP: Alien vs. Predator',
 'Alvin and the Chipmunks: The Squeakquel',
 'We Were Soldiers',
 'Olympus Has Fallen',
 'Star Trek: Insurrection',
 'Battle Los Angeles',
 'Big Fish',
 'Wolf',
 'War Horse',
 'The Monuments Men',
 'The Abyss',
 'Wall Street: Money Never Sleeps',
 'Dracula Untold',
 'The Siege',
 'Stardust',
 'Seven Years in Tibet',
 'The Dilemma',
 'Bad Company',
 'Doom',
 'I Spy',
 'Underworld: Awakening',
 'Rock of Ages',
 "Hart's War",
 'Killer Elite',
 'Rollerball',
 'Ballistic: Ecks vs. Sever',
 'Hard Rain',
 'Osmosis Jones',
 "Legends of Oz: Dorothy's Return",
 'Blackhat',
 'Sky Captain and the World of Tomorrow',
 'Basic Instinct 2',
 'Escape Plan',
 'The Legend of Hercules',
 'The Sum of All Fears',
 'The Twilight Saga: Eclipse',
 'The Score',
 'Despicable Me',
 'Money Train',
 'Ted 2',
 'Agora',
 'Mystery Men',
 'Hall Pass',
 'The Insider',
 'The Finest Hours',
 'Body of Lies',
 'Dinner for Schmucks',
 'Abraham Lincoln: Vampire Hunter',
 'Entrapment',
 'Last Man Standing',
 'The X Files',
 'The Last Legion',
 'Saving Private Ryan',
 'Need for Speed',
 'What Women Want',
 'Ice Age',
 'Dreamcatcher',
 'Lincoln',
 'The Matrix',
 'Apollo 13',
 'The Santa Clause 2',
 'Les MisÃ©rables',
 "You've Got Mail",
 'Step Brothers',
 'The Mask of Zorro',
 'Due Date',
 'Unbroken',
 'Space Cowboys',
 'Cliffhanger',
 'Broken Arrow',
 'The Kid',
 'World Trade Center',
 'Mona Lisa Smile',
 'The Dictator',
 'Eyes Wide Shut',
 'Annie',
 'Focus',
 'This Means War',
 'Blade: Trinity',
 'Red Dawn',
 'Primary Colors',
 'Resident Evil: Retribution',
 'Death Race',
 'The Long Kiss Goodnight',
 'Proof of Life',
 'Zathura: A Space Adventure',
 'Fight Club',
 'We Are Marshall',
 'The Missing',
 'Hudson Hawk',
 'Lucky Numbers',
 'I, Frankenstein',
 'Oliver Twist',
 'Elektra',
 'Sin City: A Dame to Kill For',
 'Random Hearts',
 'Everest',
 'Perfume: The Story of a Murderer',
 'Austin Powers in Goldmember',
 'Astro Boy',
 'Jurassic Park',
 'Wyatt Earp',
 'Clear and Present Danger',
 'Dragon Blade',
 'Littleman',
 'U-571',
 'The American President',
 'The Love Guru',
 '3000 Miles to Graceland',
 'The Hateful Eight',
 'Blades of Glory',
 'Hop',
 '300',
 'Meet the Fockers',
 'Marley & Me',
 'The Green Mile',
 'Wild Hogs',
 'Chicken Little',
 'Gone Girl',
 'The Bourne Identity',
 'GoldenEye',
 "The General's Daughter",
 'The Truman Show',
 'The Prince of Egypt',
 'Daddy Day Care',
 '2 Guns',
 'Cats & Dogs',
 'The Italian Job',
 'Two Weeks Notice',
 'Antz',
 'Couples Retreat',
 'Days of Thunder',
 'Cheaper by the Dozen 2',
 'The Scorch Trials',
 'Eat Pray Love',
 'The Family Man',
 'RED',
 'Any Given Sunday',
 'The Horse Whisperer',
 'Collateral',
 'The Scorpion King',
 'Ladder 49',
 'Jack Reacher',
 'Deep Blue Sea',
 'This Is It',
 'Contagion',
 'Kangaroo Jack',
 'Coraline',
 'The Happening',
 'Man on Fire',
 'The Shaggy Dog',
 'Starsky & Hutch',
 'Jingle All the Way',
 'Hellboy',
 'A Civil Action',
 'ParaNorman',
 'The Jackal',
 'Paycheck',
 'Up Close & Personal',
 'The Tale of Despereaux',
 'Rules of Engagement',
 'The Tuxedo',
 'Under Siege 2: Dark Territory',
 'Jack Ryan: Shadow Recruit',
 'Joy',
 'London Has Fallen',
 'Alien: Resurrection',
 'Shooter',
 'The Boxtrolls',
 'Practical Magic',
 'The Lego Movie',
 'Miss Congeniality 2: Armed and Fabulous',
 'Reign of Fire',
 'Gangster Squad',
 'Year One',
 'Invictus',
 'State of Play',
 'Duplicity',
 'My Favorite Martian',
 'The Sentinel',
 'Planet 51',
 'Star Trek: Nemesis',
 'Intolerable Cruelty',
 'Trouble with the Curve',
 'Edge of Darkness',
 'The Relic',
 'Analyze That',
 'Righteous Kill',
 'Mercury Rising',
 'The Soloist',
 'The Legend of Bagger Vance',
 'Almost Famous',
 'Garfield 2',
 'xXx: State of the Union',
 'Priest',
 'Sinbad: Legend of the Seven Seas',
 'Event Horizon',
 'Dragonfly',
 'The Black Dahlia',
 'Flyboys',
 'The Last Castle',
 'Supernova',
 "Winter's Tale",
 'The Mortal Instruments: City of Bones',
 'Meet Dave',
 'Dark Water',
 'Edtv',
 'Inkheart',
 'The Spirit',
 'Mortdecai',
 'In the Name of the King: A Dungeon Siege Tale',
 'Beyond Borders',
 'Xi you ji zhi: Sun Wukong san da Baigu Jing',
 'The Great Raid',
 'Deadpool',
 'Holy Man',
 'American Sniper',
 'Goosebumps',
 'Sabrina, the Teenage Witch',
 'Just Like Heaven',
 'The Flintstones in Viva Rock Vegas',
 'Rambo III',
 'Leatherheads',
 'The Ridiculous 6',
 'Did You Hear About the Morgans?',
 'The Internship',
 'Resident Evil: Afterlife',
 'Red Tails',
 'Sex and the City',
 "The Devil's Advocate",
 "That's My Boy",
 'DragonHeart',
 'After the Sunset',
 'Ghost Rider: Spirit of Vengeance',
 "Captain Corelli's Mandolin",
 'Anger Management',
 'The Pacifier',
 'Walking Tall',
 'Forrest Gump',
 'Alvin and the Chipmunks',
 'Meet the Parents',
 'Pocahontas',
 'Superman',
 'The Nutty Professor',
 'Hitch',
 'George of the Jungle',
 'American Wedding',
 'Captain Phillips',
 'Date Night',
 'Casper',
 'The Equalizer',
 'Maid in Manhattan',
 'Crimson Tide',
 'The Pursuit of Happyness',
 'Flightplan',
 'Disclosure',
 'City of Angels',
 'Kill Bill: Vol. 1',
 'Bowfinger',
 'Stargate SG-1',
 'Kill Bill: Vol. 2',
 'Tango & Cash',
 'Death Becomes Her',
 'Shanghai Noon',
 'Executive Decision',
 "Mr. Popper's Penguins",
 'The Forbidden Kingdom',
 'Free Birds',
 'Alien 3',
 'Evita',
 'Ronin',
 'The Ghost and the Darkness',
 'Paddington',
 'The Watch',
 'The Hunted',
 'Instinct',
 'Stuck on You',
 'Semi-Pro',
 'The Pirates! Band of Misfits',
 'Changeling',
 'Chain Reaction',
 'The Fan',
 'The Phantom of the Opera',
 'Elizabeth: The Golden Age',
 'Ã†on Flux',
 'Gods and Generals',
 'Turbulence',
 'Imagine That',
 'Muppets Most Wanted',
 'Thunderbirds',
 'Burlesque',
 'A Very Long Engagement',
 'Lolita',
 'Eye See You',
 'Blade II',
 'Seven Pounds',
 'Bullet to the Head',
 'The Godfather: Part III',
 'Elizabethtown',
 'You, Me and Dupree',
 'Superman II',
 'Gigli',
 "All the King's Men",
 'Shaft',
 'Anastasia',
 'Moulin Rouge!',
 'Domestic Disturbance',
 'Black Mass',
 'Flags of Our Fathers',
 'Law Abiding Citizen',
 'Grindhouse',
 'Beloved',
 'Lucky You',
 'Catch Me If You Can',
 'Zero Dark Thirty',
 'The Break-Up',
 'Mamma Mia!',
 "Valentine's Day",
 'The Dukes of Hazzard',
 'The Thin Red Line',
 'The Change-Up',
 'Man on the Moon',
 'Casino',
 'From Paris with Love',
 'Bulletproof Monk',
 'Me, Myself & Irene',
 'Barnyard',
 'Deck the Halls',
 'The Twilight Saga: New Moon',
 'Shrek',
 'The Adjustment Bureau',
 'Robin Hood: Prince of Thieves',
 'Jerry Maguire',
 'Ted',
 'As Good as It Gets',
 'Patch Adams',
 'Anchorman 2: The Legend Continues',
 'Mr. Deeds',
 'Super 8',
 'Erin Brockovich',
 'How to Lose a Guy in 10 Days',
 '22 Jump Street',
 'Interview with the Vampire: The Vampire Chronicles',
 'Yes Man',
 'Central Intelligence',
 'Stepmom',
 "Daddy's Home",
 'Into the Woods',
 'Inside Man',
 'Payback',
 'Congo',
 'We Bought a Zoo',
 'Knowing',
 'Failure to Launch',
 'The Ring Two',
 'Crazy, Stupid, Love.',
 'Garfield',
 'Christmas with the Kranks',
 'Moneyball',
 'Outbreak',
 'Non-Stop',
 'Race to Witch Mountain',
 'V for Vendetta',

In [365]:
#You can see the change of column values
columns_list

['color',
 'Director Name',
 'Critical Reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [368]:
#Now reassign them to movies dataset
movies.index = index_list
movies.columns = columns_list
movies.head(2)

,color,Director Name,Critical Reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [369]:
#Creating and Deleting columns

In [371]:
#create a column 'me' and assign my name
movies['me'] ="Sriganesh"

In [374]:
#merge all the facbook likes columns into 1 one columns 'all fb likes'
movies["all fb likes"] = (movies["director_facebook_likes"]+movies['actor_3_facebook_likes']+movies["actor_1_facebook_likes"]+movies["actor_2_facebook_likes"])
movies["all fb likes"].head()

Ratava                                         2791.0
Pirates of the Caribbean: At World's End      46563.0
Ertceps                                       11554.0
The Dark Knight Rises                         95000.0
Star Wars: Episode VII - The Force Awakens        NaN
Name: all fb likes, dtype: float64

In [377]:
#merge all actor likes into one column 
movies["all actors likes"] = (movies["actor_1_facebook_likes"]+movies["actor_2_facebook_likes"]+movies["actor_3_facebook_likes"])

In [408]:
#making all null values of 'all actors likes' to zero
movies["all actors likes"].fillna(0).head()

Ratava                                         2791.0
Pirates of the Caribbean: At World's End      46000.0
Ertceps                                       11554.0
The Dark Knight Rises                         73000.0
Star Wars: Episode VII - The Force Awakens        0.0
Name: all actors likes, dtype: float64

In [409]:
#Now checking the null values of newly added column 
movies["all fb likes"].hasnans

True

In [410]:
#add all the null values
movies["all fb likes"].isna().sum()

122

In [411]:
movies["all fb likes"].isna().sum()

122

In [412]:
#filling null values
movies["all fb likes"].fillna(0).head() #as you can see the 5th column which was null is now filled with 0

Ratava                                         2791.0
Pirates of the Caribbean: At World's End      46563.0
Ertceps                                       11554.0
The Dark Knight Rises                         95000.0
Star Wars: Episode VII - The Force Awakens        0.0
Name: all fb likes, dtype: float64

In [413]:
#filling the
movies["cast_total_facebook_likes"].fillna(0).head()

Ratava                                          4834
Pirates of the Caribbean: At World's End       48350
Ertceps                                        11700
The Dark Knight Rises                         106759
Star Wars: Episode VII - The Force Awakens       143
Name: cast_total_facebook_likes, dtype: int64

In [404]:
#Now checking null values of all fb likesis equal to null values of another column 'cast_total_facebook_likes' 
movies["all fb likes"].isna().sum() <= movies["cast_total_facebook_likes"].isna().sum() 
#So, "cast_total_facebook_likes" has less null values than "all fb likes"

False

In [406]:
#Now let's check whether "cast_total_facebook_likes" is from director likes or actor likes
movies["cast_total_facebook_likes"].isna().sum() == movies["all actors likes"].isna().sum()
#It seems that cast_total_facebook_likes has more null values than "all actor likes"

False

In [401]:
#Now let's calc what percentage of cast_total_facebook_likes is of 'all actors likes'
movies["pct_actor_likes"] =  movies["all actors likes"] / movies["cast_total_facebook_likes"]
movies["pct_actor_likes"].head()

Ratava                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Ertceps                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens         NaN
Name: pct_actor_likes, dtype: float64

In [415]:
#let's validate this column 'pct_actor_likes'
movies["pct_actor_likes"].min() ,movies["pct_actor_likes"].max()

(0.3007669557371297, 1.0)

In [418]:
movies["pct_actor_likes"].describe()

count    4871.000000
mean        0.832868
std         0.140495
min         0.300767
25%         0.734782
50%         0.868724
75%         0.954268
max         1.000000
Name: pct_actor_likes, dtype: float64

In [429]:
#Now putting this column with movie_title as index
movies.head()

,color,Director Name,Critical Reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,me,all fb likes,all actors likes,pct_actor_likes
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,237000000.0,2009.0,936.0,7.9,1.78,33000,Sriganesh,2791.0,2791.0,0.577369
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,300000000.0,2007.0,5000.0,7.1,2.35,0,Sriganesh,46563.0,46000.0,0.951396
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,245000000.0,2015.0,393.0,6.8,2.35,85000,Sriganesh,11554.0,11554.0,0.987521
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,250000000.0,2012.0,23000.0,8.5,2.35,164000,Sriganesh,95000.0,73000.0,0.683783
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,12.0,7.1,NaN,0,Sriganesh,NaN,NaN,NaN

In [433]:
movies.index.names =["movie_title"]

In [436]:
movies.head()

,color,Director Name,Critical Reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,me,all fb likes,all actors likes,pct_actor_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,237000000.0,2009.0,936.0,7.9,1.78,33000,Sriganesh,2791.0,2791.0,0.577369
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,300000000.0,2007.0,5000.0,7.1,2.35,0,Sriganesh,46563.0,46000.0,0.951396
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,245000000.0,2015.0,393.0,6.8,2.35,85000,Sriganesh,11554.0,11554.0,0.987521
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,250000000.0,2012.0,23000.0,8.5,2.35,164000,Sriganesh,95000.0,73000.0,0.683783
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,12.0,7.1,NaN,0,Sriganesh,NaN,NaN,NaN

In [440]:
movies["pct_actor_likes"].head()

movie_title
Ratava                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Ertceps                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens         NaN
Name: pct_actor_likes, dtype: float64

In [441]:
#let's see the me column
movies["me"].head()

movie_title
Ratava                                        Sriganesh
Pirates of the Caribbean: At World's End      Sriganesh
Ertceps                                       Sriganesh
The Dark Knight Rises                         Sriganesh
Star Wars: Episode VII - The Force Awakens    Sriganesh
Name: me, dtype: object

In [465]:
#You can delete a column from the dataset using del command or drop command like movies.drop(["me"],axis=1)
del movies["me"]

KeyError: 'me'

In [466]:
#validate whether the column is dropped or not
movies["me"]

KeyError: 'me'

In [468]:
#validate column dropped in another way.A False bool value says that there is no such column!
movies.columns.names == "me"

False

In [471]:
#how about inserting a column at a specific location.You can do that by using the method 'insert'
#insert() method takes 3 arguments.The position ,name and value of the new column as 1st 2nd and 3rd arguments
#So,now I wanna insert my new column profit beside the column 'gross'.So,we use the function get_loc to get the position of the column 'gross'

movies.columns.get_loc('gross')
#So,the psotion is 8 and we wanna insert the new column profit at the position 9

8

In [472]:
#so,the 1st position has the argument location,2nd has the column name and 3rd has the 
movies.insert(9,"profit",movies["gross"]-movies["budget"])

In [473]:
#We got the new column "profit"
movies["profit"]

movie_title
Ratava                                         523505847.0
Pirates of the Caribbean: At World's End         9404152.0
Ertceps                                        -44925825.0
The Dark Knight Rises                          198130642.0
Star Wars: Episode VII - The Force Awakens             NaN
John Carter                                   -190641321.0
Spider-Man 3                                    78530303.0
Tangled                                        -59192738.0
Avengers: Age of Ultron                        208991599.0
Harry Potter and the Half-Blood Prince          51956980.0
Batman v Superman: Dawn of Justice              80249062.0
Superman Returns                                -8930592.0
Quantum of Solace                              -31631573.0
Pirates of the Caribbean: Dead Man's Chest     198032628.0
The Lone Ranger                               -125710090.0
Man of Steel                                    66021565.0
The Chronicles of Narnia: Prince Caspian       -83385977.0
The Avengers                                   403279547.0
Pirates of the Caribbean: On Stranger Tides     -8936125.0
Men in Black 3                                 -45979146.0
The Hobbit: The Battle of the Five Armies        5108370.0
The Amazing Spider-Man                          32030663.0
Robin Hood                                     -94780265.0
The Hobbit: The Desolation of Smaug             33355354.0
The Golden Compass                            -109916481.0
King Kong                                       11051260.0
Titanic                                        458672302.0
Captain America: Civil War                     157197282.0
Battleship                                    -143826840.0
Jurassic World                                 502177271.0
                                                  ...
Manito                                                 NaN
Rampage                                                NaN
Slacker                                          1204508.0
Dutch Kills                                            NaN
Dry Spell                                              NaN
Flywheel                                               NaN
Exeter                                                 NaN
The Ridges                                             NaN
The Puffy Chair                                   177467.0
Stories of Our Lives                                   NaN
Breaking Upwards                                   61382.0
All Superheroes Must Die                               NaN
Pink Flamingos                                    170483.0
Clean                                             131507.0
The Circle                                        663780.0
Tin Can Man                                            NaN
The Cure                                         -905404.0
On the Downlow                                         NaN
Sanctuary; Quite a Conundrum                           NaN
Bang                                                   NaN
Primer                                            417760.0
Cavite                                             63071.0
El Mariachi                                      2033920.0
The Mongol King                                        NaN
Newlyweds                                          -4416.0
Signed Sealed Delivered                                NaN
The Following                                          NaN
A Plague So Pleasant                                   NaN
Shanghai Calling                                       NaN
My Date with Drew                                  84122.0
Name: profit, Length: 4916, dtype: float64

In [494]:
#let's fill the NAN values with 0
movies["profit"].fillna(0)

movie_title
Ratava                                         $523,505,847.00
Pirates of the Caribbean: At World's End         $9,404,152.00
Ertceps                                        $-44,925,825.00
The Dark Knight Rises                          $198,130,642.00
Star Wars: Episode VII - The Force Awakens               $0.00
John Carter                                   $-190,641,321.00
Spider-Man 3                                    $78,530,303.00
Tangled                                        $-59,192,738.00
Avengers: Age of Ultron                        $208,991,599.00
Harry Potter and the Half-Blood Prince          $51,956,980.00
Batman v Superman: Dawn of Justice              $80,249,062.00
Superman Returns                                $-8,930,592.00
Quantum of Solace                              $-31,631,573.00
Pirates of the Caribbean: Dead Man's Chest     $198,032,628.00
The Lone Ranger                               $-125,710,090.00
Man of Steel                                    $66,021,565.00
The Chronicles of Narnia: Prince Caspian       $-83,385,977.00
The Avengers                                   $403,279,547.00
Pirates of the Caribbean: On Stranger Tides     $-8,936,125.00
Men in Black 3                                 $-45,979,146.00
The Hobbit: The Battle of the Five Armies        $5,108,370.00
The Amazing Spider-Man                          $32,030,663.00
Robin Hood                                     $-94,780,265.00
The Hobbit: The Desolation of Smaug             $33,355,354.00
The Golden Compass                            $-109,916,481.00
King Kong                                       $11,051,260.00
Titanic                                        $458,672,302.00
Captain America: Civil War                     $157,197,282.00
Battleship                                    $-143,826,840.00
Jurassic World                                 $502,177,271.00
                                                    ...
Manito                                                   $0.00
Rampage                                                  $0.00
Slacker                                          $1,204,508.00
Dutch Kills                                              $0.00
Dry Spell                                                $0.00
Flywheel                                                 $0.00
Exeter                                                   $0.00
The Ridges                                               $0.00
The Puffy Chair                                    $177,467.00
Stories of Our Lives                                     $0.00
Breaking Upwards                                    $61,382.00
All Superheroes Must Die                                 $0.00
Pink Flamingos                                     $170,483.00
Clean                                              $131,507.00
The Circle                                         $663,780.00
Tin Can Man                                              $0.00
The Cure                                          $-905,404.00
On the Downlow                                           $0.00
Sanctuary; Quite a Conundrum                             $0.00
Bang                                                     $0.00
Primer                                             $417,760.00
Cavite                                              $63,071.00
El Mariachi                                      $2,033,920.00
The Mongol King                                          $0.00
Newlyweds                                           $-4,416.00
Signed Sealed Delivered                                  $0.00
The Following                                            $0.00
A Plague So Pleasant                                     $0.00
Shanghai Calling                                         $0.00
My Date with Drew                                   $84,122.00
Name: profit, Length: 4916, dtype: float64

In [495]:
#let's find out movie with highest profits and least of profits
movies["profit"].min(),movies["profit"].max()

(-4199788333.0, 523505847.0)